average.exe
basics.exe
basics1.exe
swap.exe
.vscode/tasks.json
sum1.exe
.vscode/cube.exe
swap2.exe
DAY4.exe
day4,1.exe
day4,2.exe
day5,1.exe
daY5,2.exe
dAY5,3.exe
day5,4.exe
dAY6,1.exe
day6,2.exe
day6,3.exe
day6,4.exe
demo.exe
even.exe
day7,2.exe
day8,1.exe
day9.exe
